<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1 style="font-size: 4rem; position: absolute; top: 47%; left: 50%; transform: translate(-50% , -50%); font-family: sans-serif;">
        <span style="color: red;">404</span>&nbsp; Not Found.</h1>
</body>
</html>